<div class="jumbotron footer">
    <h1 class="display-4">Footer</h1>
    <p class="lead">Copyright ELO Farmers 2020</p>
    <div class="row">
        <div class="col-sm">
            Twitter
        </div>
        <div class="col-sm">
            Discord
        </div>
    </div>
</div>