<main>

{{>nav}}

<div class="jumbotron">
    <h1 class="display-4">404 Page Not Found.</h1>
    <p class="lead">Sorry but we can't seem find the page that you are looking for.</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>

</main>